<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ORDERS_VER_2.My.MySettings.ORDERS_DATA_SOURCEConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\DGeorgiev\Documents\DBs\ORDERS_DATA_SOURCE.accdb"
            providerName="System.Data.OleDb" />
        <add name="ORDERS_VER_2.My.MySettings.ORDERS_DATA_SOURCEConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.15.0;Data Source=D:\Documents\DBs\ORDERS_DATA_SOURCE.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>